@import "./partials/colours";

/* Stylesheet used for all common styles */
/* TODO: Grid to organize main componnets (header, menu, left, right, footer, etc) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: $background-colour;
    color: $main-colour;
  }
  
  /**** Page layout ****/
  /** Nav bar **/
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $main-colour;
    margin-bottom: 10px;
  }
  
  #nb-logo p{
    padding-left: 15px;
    display: inline-block;
    color: $background-colour;
    font-size: 24px;
    text-transform: capitalize;
    font-variant:small-caps;
  }

  #nb-profile {
    #nb-profile-container {
      display: flex;
      align-items: center;
      justify-content: center;
      #nb-profile-pic {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 100%;
        margin-left: 10px;
      }
      p {
        display: inline-block;
        line-height: 25px;
        padding: 5px 10px;
        text-decoration: none;
        color:$background-colour;
        text-transform: uppercase;
      }
    }

    .nb-profile-dropdown{
      display: none;
      position: absolute;
      right: 25px;
      background-color: $main-colour;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    
      a{
        display: block;
        line-height: 25px;
        padding: 5px 10px;
        text-decoration: none;
        color:$background-colour;
        text-transform: uppercase;
        float: none;
        text-align: center;
      }
    }

    &:hover {
      background-color: $accent-colour;
      cursor: pointer;

      .nb-profile-dropdown{
        display: block;
        color:$background-colour;
        text-transform: uppercase;

        a:hover {
          background-color: $accent-colour;
          cursor: pointer;
        }
      }
    }
  }
  
  .nb-list{
    display: flex;
    list-style: none;
  }
  
  .nb-item a {
    display: inline-block;
    line-height: 25px;
    padding: 5px 10px;
    text-decoration: none;
    color:$background-colour;
    text-transform: uppercase;
    border-right: 1px solid $background-colour;
  }
  
  .nb-item:first-child {
    border-left: 1px solid $background-colour;
  }
  
  .nb-item:not(.nb-active) a:hover {
    background-color: $accent-colour;
    cursor: pointer;
  }
  
  .nb-active a{
    background-color: $background-colour;
    color: $main-colour;
  }

  .not-selectable {
    user-select: none;
  }