extends layout

block append head
    script(type="text/javascript" src="/javascript/login.js")
    link(rel='stylesheet', href='/stylesheets/login_page.css')

block content
    h1= title
    div(id='login-form-container')
        unless create
            div(id='user-login-form' class='login-page-form')
                form(method='post' action='/login')
                    input(id='username' type='text' name='username' placeholder='Username' required)
                    input(id='password' type='password' name='password' placeholder='Password' required)
                    input(id='loginBtn' type='submit' value='Login')
                if error
                    p(class='error_msg')= message
                p New to Creatures & Caves? Sign up 
                    a(href='/create') here
        else if create
            div(id='create-user-form' class='login-page-form')
                form(method='post' action='/create')
                    input(id='username' type='text' name='username' placeholder='Username' required)
                    input(id='password' type='password' name='password' placeholder='Password' required)
                    input(id='confirm-pw' type='password' name='confirm_pw' placeholder='Confirm Password' oninput='check(this)' required)
                    //- TODO: frontend script to check if passwords match
                    input(id='login-btn' type='submit' value='Create Account')
                if error
                    p(class='error_msg')= message